svg {
  width: 100vw;
  height: 100vh;
  background-color: #282727;
}

path.domain {
  display: none;
}

g.x-axis {
  transform: translate3d(40px, 40px, 0px);
}

g.y-axis {
  transform: translate3d(0px, 40px, 0px);
}

#graph-group-wrapper {
  position: absolute;
}

.none circle {
  display: none;
}

text {
  color: white;
  font-size: 1rem;
}

line {
  stroke: #303030;
  transform: translate3d(0, 24px, 0);
}
