.wrapper {
  svg {
    width: 100vw;
    height: 100vh;
    background-color: #282727;
  }

  #graph-group-wrapper {
    position: absolute;
  }

  path {
    display: none;
  }

  text {
    color: white;
    font-size: 1rem;
  }

  line {
    stroke: #303030;
    transform: translate3d(0, 24px, 0);
  }
}

.x-axis {
  transform: translate3d(40px, 40px, 0px);
}

.y-axis {
  transform: translate3d(0px, 40px, 0px);
}
