.bezier-head {
  fill: #ffffff;
  stroke: #0f88ff;
  stroke-width: 0.5;
  &.selected {
    stroke: #fb8226;
  }
}

rect {
  transform-box: fill-box;
  transform-origin: center;
  transform: translate3d(-1px, -1px, 0) rotate(45deg);
}

polygon {
  transform: translate3d(-1px, -2px, 0px);
  &.right {
    transform-box: fill-box;
    transform-origin: center;
    transform: translate3d(-1px, -2px, 0) rotate(-180deg);
  }
}

path {
  fill: none;
  stroke: white;
  &.selected {
    stroke: #ffd8b1;
  }
  &.break {
    stroke-dasharray: 4;
  }
}
