.x-axis {
  transform: translate3d(40px, 40px, 0px);
  path {
    display: none;
  }
}

.y-axis {
  transform: translate3d(0px, 40px, 0px);
  path {
    display: none;
  }
}

.grid {
  line {
    stroke: #303030;
    transform: translate3d(0, 24px, 0);
  }
}

text {
  color: white;
  font-size: 1rem;
  user-select: none;
}
